/* Derived from Jen Simmons editorial YouTube Video
"Using Flexbox + CSS Grid Together: Easy Gallery Layout"
https://youtu.be/dQHtT47eH0M */

/* These are our default settings for this profile page project. They
are applied for and understand by all browsers. Minimal Viable Pageview
for all users, no matter on which browser or device they view the page. */

/* For all browsers that support CSS grid. Link to caniuse =>
https://caniuse.com/?search=grid. Tests for IE >=10 follows.  */


@supports (display: grid) {
  main { 
    max-width: 10000px;
    margin: 0;
  }
}